.example-spacer {
    flex: 1 1 auto;
  }
    
  .mat-icon-button {
    /* Background color of the button */
    border-radius: 50%; /* Make the button round */
    width: 40px; /* Adjust the button width as needed */
    height: 40px; /* Adjust the button height as needed */
    // box-shadow: 3px 3px 5px #b9b9b9, -3px -3px 5px #ffffff; /* Neumorphism shadow for buttons */
    // transition: box-shadow 0.3s ease-in-out; /* Add a smooth transition effect */
  }

  .custom-toolbar{
    background-color: #322653;
  
  
  }
  .mat-toolbar{
    color: #f0f0f0 !important;
  }
  .mat-icon-button {
    color: #f0f0f0 !important;
    background-color: #f0f0f0; /* Background color of the button */
    border-radius: 50%; /* Make the button round */
    width: 40px; /* Adjust the button width as needed */
    height: 40px; /* Adjust the button height as needed */
    // box-shadow: 3px 3px 5px #b9b9b9, -3px -3px 5px #ffffff; /* Neumorphism shadow for buttons */
    transition: box-shadow 0.3s ease-in-out; /* Add a smooth transition effect */
  }
    
  /* Style the button with the "neumorphic-button" class */
  .neumorphic-button {
    color: white;
   /* Background color of the button */
    border-radius: 10px; /* Adjust the border-radius for a softer look */
    // box-shadow: 5px 5px 10px #b9b9b9, -5px -5px 10px #ffffff; /* Neumorphism shadow for the specific button */
    // transition: box-shadow 0.3s ease-in-out; /* Add a smooth transition effect */
    transition: transform 0.3s ease-in-out;
  
    &:hover {
      // Scale the button slightly on hover
      transform: scale(1.05);
    }}
  

  
  /* Adjust the button text color if needed */
  .neumorphic-button {
    color: white !important; /* Text color */
  }
  
  
  
  /* Add some spacing between the buttons */
  .custom-toolbar button:not(:last-child) {
    margin-right: 10px;
  }
  
  
  .notification-icon {
    color: #f0f0f0 !important;
    transition: transform 0.2s ease; /* Add smooth transition effect */
  
    &:hover {
      transform: scale(1.2); /* Scale the icon on hover */
    }
  }
  
  body {
  
    color: white !important;
  }
  
  .mat-mdc-icon-button{
    color: white !important;
  }
  